<h1>Fees, Forms, and Insurance</h1>

<h2>Fees</h2>
<ul>
  <li>Initial Evaluation (50 minutes): $135</li>
  <li>Individual Session (50 minutes): $135</li>
  <li>Couples or Family Session (50 minutes): $135</li>
  <li>Longer sessions are available at additional charge.</li>
</ul>

<h2>Forms</h2>
<p>*need to figure out what to do about this...*</p>

<h2>Insurance</h2>
<p>Contract (or "In-Network") Provider benefits are available for:
Anthem Blue Cross, Aspire Health (CHOMP), Beech Street,
Guardian Insurance Co., and Pacific Health Alliance.</p>
<p>Before making your appointment, please contact your insurance company
(using the Customer Service number on your card) to check
the Outpatient Mental Health benefits for your policy.
The Insurance Coverage Checklist (see "Printable Forms")
can be helpful in making sure you are
fully informed about your out-of-pocket expenses.</p>
