<h1>Location and Contact</h1>

<h2>Phone</h2>
<p>
  Please call to make an Appointment:
  <br>
  <a href="tel:8313731017">(831) 373-1017</a>
  <br>
  Your call will be returned as soon as possible (usually within 24 hours).
</p>

<h2>Office Hours and Location</h2>
<p>
  Monday - Thursday: 10:00 a.m. - 7:00 p.m.
  <br>
  Friday: 10:00 a.m. - 5:00 p.m.
</p>
<p>
  529 Central Ave., Ste. 208
  <br>
  Pacific Grove CA 93950
</p>

<p>
  The office in located in the 2-story purple building at the corner of
  Central and Fountain Avenues in Pacific Grove, CA (diagonally across
  the street from the Pacific Grove Library). Parking is available on
  the street or in a lot behind the building (accessible off of Fountain
  Avenue or 15th Street). Suite 208 is at the top of the stairs towards
  the front of the building. The waiting room door is marked by a sign
  that says "Enter."
</p>
