<h1>Mindful Relating</h1>

<p>Mindful Relating describes a way of being with another person (or persons) that engages vulnerability, transparency, and awareness of oneself and others in service of deep connection. With its focus on presence, acceptance, and equanimity, it is a practice of intersubjective meditation. At times this way of being in relationship leads to healing and transformation; it nearly always leads to deeper understanding and expansion of perspective.</p>

<p class="tagline"><i>"A conscious relationship is one that calls forth who you really are."</i><br>John Welwood</p>

<p>Sourced in the teachings of <a href="http://www.authenticworld.com">Authentic World</a> & Integral Philosophy, the focus of this relational practice is to be fully present and awake to what is happening with an attitude of openness and curiosity. The invitation is to expand one's perspective to truly see the world as another person sees and experiences it. In this field, there is discovery about oneself and others in order to be more profoundly here together.</p>

<p>The modes of this way of being are developed through Mindful Relating Games and a relational practice called Integral Circling. In this field of co-creation and co-discovery, we come to recognize and experience our shared humanity on a deep, profound level.<p>

<p>Mindful Relating Games are fun and highly interactive group exercises that explore ways of seeing, connecting, and appreciating oneself and others at a deeper level. Engaging with oneself and others in this safe, spontaneous container affords the opportunity to create and foster a culture of conscious connection, positive regard, and authenticity in relationship.<p>

<p class="tagline"><i>"I think the greatest gift you can give someone is an honest receiving of what that person has to offer." </i><br>Fred Rogers</p>

<p>Marianne began her training with Authentic World in 2011. Since then, she has become a Course Leader and has participated in the training intensives and weekend workshops in Boulder, CO, San Francisco and Santa Cruz, CA</p>

<p>She offers Mindful Relating courses, workshops and retreats throughout the year and facilitates Games and Team Building Practices with organizations and businesses. </p>
