<h1>Services and Specialties</h1>

<h2>Counseling Services</h2>
<ul>
  <li>Individual Therapy with Adolescents & Adults (ages 12-80 years)</li>
  <li>Play Therapy with Children (ages 3-11 years)</li>
  <li>Pre-marriage Counseling ~ Couples Therapy ~ Family Therapy</li>
  <li>Grief Counseling ~ EMDR ~ TFT</li>
  <li>Hypnotherapy ~ Sand Tray Therapy ~ Mindfulness Meditation</li>
</ul>

<h2>Specialties with Adults</h2>
<ul>
  <li>Overcoming Worries, Fears & Anxiety ~ Relieving Depression</li>
  <li>Coping with Stressful Events ~ Adjusting to Life Transitions</li>
  <li>Moving Beyond Painful Past ~ Accessing Personal Strengths & Values</li>
  <li>Resolving Anger ~ Strengthening Emotional Intelligence</li>
  <li>Connecting Responsibility & Meaningfulness</li>
  <li>Balancing Self, Career & Family ~ Opening Creative Flow</li>
  <li>Dealing with Health Concerns & Pain ~ Generating Happiness in Daily Life</li>
  <li>Creating & Enhancing Meditation Practice</li>
  <li>Evolving Spiritual Consciousness</li>
</ul>

<h2>Specialties with Children & Adolescents</h2>
<ul>
  <li>Managing Intense Emotions ~ Strengthening Confidence & Positive Outlook</li>
  <li>Enhancing Self-Control ~ Solving Problems with Peers</li>
  <li>Increasing Communication & Listening ~ Improving School Performance</li>
  <li>Coping with Family Change & Stressful Situations</li>
  <li>Increasing Appropriate Expression of Emotions</li>
  <li>Getting Along with Siblings & Blended-Family Members</li>
  <li>Developing Healthy Relationship Patterns</li>
  <li>Encouraging Creativity & Engagement</li>
  <li>Accessing a Sense of Calm & Well-Being</li>
</ul>

<h2>Specialties with Couples</h2>
<ul>
  <li>Improving Communication ~ Resolving Conflicts</li>
  <li>Enhancing Intimacy ~ Balancing Career(s) & Family Life</li>
  <li>Strengthening Healthy Relationship Patterns</li>
  <li>Deepening Understanding & Appreciation ~ Healing through Forgiveness</li>
  <li>Fostering Kindness & Compassion</li>
  <li>Enjoying Differences in Perspective & Style</li>
  <li>Growing through Life’s Changes Together</li>
</ul>

<h2>Clinical Orientation</h2>
<ul>
  <li>Cognitive-Behavioral ~ Transpersonal ~ Family Systems</li>
  <li>Interpersonal Neurobiology ~ Contemplative ~ Integral</li>
</ul>

<p>
  <small>
    Therapy informed by the work and teachings of Don Beck, David Burns, Pema Chodron, Decker Cunov, Milton Erickson, Matthew Fox, Viktor Frankl, Howard Gardner, Arnold Gesell, Daniel Goleman, Thich Nhat Hahn, Rick Hanson, Harville Hendrix, His Holiness the XIVth Dalai Lama, Cheri Huber, Carl Jung, Jon Kabat-Zinn, Susan Kaiser-Greenland, Dora Kalff, Byron Katie, Fr. Thomas Keating, Jack Kornfield, Elisabeth Kubler-Ross, Garry Landreth, Stephen Levine, Abraham Maslow, Caroline Myss, Violet Oaklander, John J. Prendergast, Carl Rogers, Marshall Rosenberg, Selwa Said, Sharon Salzberg, Virginia Satir, Martin Seligman, Francine Shapiro, Daniel Siegel, Eckhart Tolle, Carl Whitaker, & Ken Wilber, among others.
  </small>
</p>
