

<p id="notice"><%= notice %></p>

<h1>Calendar of Events</h1>

<%= month_calendar events: @courses do |date, courses| %>

  <div style="width:44px">
    <span class="day"><%= date.day %></span>
  </div>



  <% courses.each do |course| %>
    <div>

        <%= link_to course.name, course %>

    </div>
  <% end %>



<% end %>
