<h1>Editing Course</h1>

<%= render 'form', course: @course %>


<%= link_to 'Edit', @course %>
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', courses_path %>
