<h1>Mindfulness Courses</h1>

<p>
  There are currently 23 different Mindfulness Courses being offered.
  Each course consists of four 90-minute classes and meets at
  529 Central Ave., Ste. 201A, Pacific Grove, CA, unless otherwise noted.
  Please see the listings below for course descriptions, cost, and schedule.
</p>
<p>
  The courses are taught by Marianne B. Rowe,
  who has studied and practiced Mindfulness Meditation for over 17 years.
  Each course incorporates teaching, discussion, & experiental practices
  to develop and sustain Mindful Awareness.
</p>
<p>
  For maximum benefit, participants are asked to attend all 4 classes
  and maintain a daily meditation practice for the length of the course.
  There is a No Refund Policy for non-attendance.
</p>
<p>
  Because class size is limited, Advance Registration is required.
  To register, please call (831) 373-1017.
</p>

<% @courses.each do |course| %>
  <p>
    <h2 id="<%= course.anchor %>"><%= course.name %></h2>
    <%= simple_format(course.course_content) %>
  </p>
<% end %>
