<h1>Mindfulness Courses</h1>

<% @courses.each do |course| %>
  <p>
    <h2><%= course.name %></h2>
    <%= course.start_time.month %> / <%= course.start_time.day %>
    <br>
    first instance? <%= course.first_instance %>
  </p>
<% end %>
