<h1>Mindful Education Project</h1>

<% @courses.each do |course| %>
  <p>
    <%= course.name %>
    <br>
    <%= course.start_time.month %> / <%= course.start_time.day %>
    <br>
    first instance? <%= course.first_instance %>
  </p>
<% end %>
