// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin-top: 12px;
  color: darken(#AF87AF, 30%);
  /*color: #1A1714; <= main black color */
  font-size: 1.7em;
  font-family: 'Noto Serif', serif;
}

#header-header{


  .phone-number{

  }
  p{
    font-size: .8em;
    margin-bottom: 12px;
  }
}

hr{
  margin: 0px;
  padding: 0px;
}

h1{
  margin: 8px;

}



.header-image{

  background-image: url('/assets/space.png');
  opacity: 0.8;

  height: 140px;
  z-index: -1;

  border-top: 2.6px solid #AF87AF;
  border-bottom: 2.6px solid #AF87AF;
}

header{
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
  z-index: 1;
  height: 140px;
  margin-top: -140px;


  h3{
    padding-top: 54px;
  }
  h4{
    font-size: 1.5em;
  }
  h3, h4{
    letter-spacing: .1em;
    color: lighten(#AF87AF, 30%);
    text-shadow: -1px 0 #1A1714,0 1px #1A1714,1px 0 #1A1714,0 -1px #1A1714;
  }
}


aside{
  padding-top: 48.4px;
  font-size: .76em;
  text-align: left;

  ul{
    list-style-type: none;
    li{
      padding-top: 6px;
      padding-bottom: 6px;

      a{
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 1.1em;
        text-decoration: none;
        /*color: darken(#AF87AF, 20%);*/
        color: lighten(#7b422f, 12%);
        transition: .3s;
        &:hover{
          background-color: lighten(#7b422f, 12%);
          color: white;
          text-decoration: none;
          border-radius: 4px;
        }
      }
    }
  }
}

main{
  padding-top: 48px;
  height: 800px;

  h1{
    text-align: center;
    font-size: 1.6em;
    color: lighten(#1A1714, 26%);
    letter-spacing: .1em;


  }

  .divider{
    font-size: 2.5em;
    color: darken(#AF87AF, 30%);
    text-align: center;
    margin: 0px;
    margin-top: -30px;

  }

}

article{

  margin-top: 82px;
  padding-bottom: 50px;

  p{
    color: #1A1714;
    font-family: 'Sorts Mill Goudy', serif;
  }

  .tagline{
    font-size: .88em;
    max-width: 100%;
    text-align: center;
    width: 520px;

  }
}


/* nav controls!!!! */

#nav-fixed{
  position:fixed;
  margin-top: -326px;
  overflow:hidden;
}
#nav-unfixed, #nav-fixed{
  width: 180px;
}
@media (max-width: 929px){
  #nav-unfixed, #nav-fixed{
    width: 160px;
  }
}
@media (max-width: 812px){
  #nav-unfixed, #nav-fixed{
    width: 120px;
  }
}
/* turn into material button here */
@media (max-width: 670px){
  #nav-fixed{
    background-color: lighten(#7b422f, 32%);
    opacity: 0.8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -356px;
    margin-left: -30px;
  }
}
