$link: darken(#C1BCDB, 34%);
$link-hover: darken(#80749E, 32%);
$text-color: #3e4042;
$special-font: 'Sorts Mill Goudy', serif;
$main-font: 'Arimo', sans-serif;
$page-title-color: darken($link, 10%);

body{
  color: $text-color;
  background-color: lighten(#774849, 53%);
  font-size: 1.6em;
  font-family: $main-font;

  h1{
    font-family: $special-font;
    margin-top: -06px;
    margin-bottom: 28px;
    text-align: left;
    font-size: 2.24em;
    color: $text-color;
    letter-spacing: .1em;
  }

  a{
    color: $link;
    transition: .3s;
    font-size: .9em;
    &:hover{
      color: $link-hover;
    }
  }

  #admin-panel{
    height: 244px;
    background-color: white;
  }

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fce1e0+0,fddedb+41,f9bfbb+70,fec7bc+100 */
  //  background: #fce1e0; /* Old browsers */
  //  background: -moz-linear-gradient(top, #fce1e0 0%, #fddedb 41%, #f9bfbb 70%, #fec7bc 100%); /* FF3.6-15 */
  //  background: -webkit-linear-gradient(top, #fce1e0 0%,#fddedb 41%,#f9bfbb 70%,#fec7bc 100%); /* Chrome10-25,Safari5.1-6 */
  //  background: linear-gradient(to bottom, #fce1e0 0%,#fddedb 41%,#f9bfbb 70%,#fec7bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce1e0', endColorstr='#fec7bc',GradientType=0 ); /* IE6-9 */

}

header{
  background-image: image-url('space.jpg');
  opacity: .7;
  height: 244px;

  border-top: 2px solid #AF87AF;
  border-bottom: 2px solid #AF87AF;
  z-index: 1;
}

#header-content{
  margin-top: -240px;

  #name{
    font-family: $special-font;
    text-align: center;
  }
  h3{
    padding-top: 15px;
    font-size: 2.7em;
    margin-bottom: -4px;
  }
  h4{
    font-size: 1.9em;
  }
  h3, h4{
    letter-spacing: .1em;
    color: lighten($text-color, 80%);
    text-shadow: -1px 0 #412C2B,0 1px #412C2B,1px 0 #412C2B,0 -1px #412C2B;
  }
  #summary{
    margin-top: 64px;
    letter-spacing: .1em;
    color: lighten($text-color, 80%);
    font-size: 1.1em;
    text-shadow: -1px 0 #412C2B,0 1px #412C2B,1px 0 #412C2B,0 -1px #412C2B;
  }
}

aside{
  font-family: $special-font;
  padding-top: 122px;
  margin-left: -60px;
  font-size: .80em;
  text-align: right;

  #nav-unfixed, #nav-fixed{
    width: 220px;
  }

  ul{
    list-style-type: none;
    li{
      padding-top: 6px;
      padding-bottom: 6px;
      a{
        padding-right: 8px;
        font-family: $special-font;
        font-size: 1.2em;
        text-decoration: none;
        color: $link;
        border-right: 1px solid $link;
        // transition: .3s;
        &:hover{
          color: $link-hover;
          padding-right: 3px;
          border-right: 1px solid $link-hover;
        }
      }
    }
  }
}




main{
  h1{
    font-family: $special-font;
    margin-top: -33px;
    margin-bottom: 28px;
    text-align: left;
    font-size: 2.24em;
    color: $page-title-color;
    letter-spacing: .1em;
  }


  h2{
    font-size: 1.35em;
    color: $link-hover;
    letter-spacing: .1em;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }


  #course_course_instances{
    visibility: hidden;
  }

  article{
    font-family: $main-font;
    color: $text-color;
    font-size: .9em;
    margin-top: 90px;
    padding-bottom: 50px;
  }

  .divider{
    font-size: 2.5em;
    color: $page-title-color;
    text-align: center;
    margin: 0px;
    margin-top: -30px;
  }
}
/* nav controls!!!! */
#nav-fixed{
  position:fixed;
  margin-top: -300px;
  overflow:hidden;
}
@media (max-width: 929px){
  #nav-unfixed, #nav-fixed{
    width: 160px;
  }
}
@media (max-width: 812px){
  #nav-unfixed, #nav-fixed{
    width: 120px;
  }
}
@media (max-width: 670px){
  #nav-fixed{
    background-color: lighten(#7b422f, 32%);
    opacity: 0.8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -356px;
    margin-left: -30px;
  }
}

.radioset{
  white-space: nowrap;
}

button, input[type="submit"]{
  background-color: white;
}
button:hover, input[type="submit"]:hover{
  background-color: lightgray;
}
@media (max-width: 596px){
  #summary{
    display: none;
  }
}

@media (max-width: 950px){
  #nav-fixed, #nav-unfixed{
    margin-left: -30px;
  }
}

@media (max-width: 809px){
  #menu-button{
    font-family: $special-font;
    letter-spacing: .3em;
    font-size: 1.2em;
    padding-top: 5px;
    width: 400px;
    max-width: 100%;

    #menu-button-button{
      cursor: pointer;
      &:hover{
        color: $link;
      }
    }

    hr{
      margin-top: 2px;
      margin-bottom: 7px;
      border-bottom: 1px solid lighten($text-color, 32%);
    }
    ul {
      list-style-type: none;
      li a{
      letter-spacing: .1em;
      text-decoration: underline;
      font-family: $special-font;
      font-size: .8em;
      text-decoration: underline;
      color: $link;
      transition: .3s;

        &:hover{
          color: $link-hover;

        }
      }
    }
  }

  main{
    margin-top: -60px;
    h1{
      margin-top: -60px;
      text-align: center;
    }
  }
  #nav-mobile{
    text-align: center;


  }
}

/* responsive normalization */
@media(min-width: 1072px){
  main{
    h1{
      margin-top: -5px;
    }
  }
  aside{
    padding-top: 150px;
  }
}
@media ( max-width: 596px){
  #header-content{
    h4{
      padding-top: 44px;
    }
  }
}
@media ( max-width: 540px){
  #header-content{
    h4{
      padding-top: 14px;
      margin-bottom: 9px;
    }
  }
}
@media ( max-width: 311px){
  #header-content{
    h4{
      padding-top: 4px;
      margin-bottom: -5px;
      font-size: 1.2em;
    }
  }
}
