
<header>

  <div class="container">
    <span id="name">
    <h3>Marianne B. Rowe, MS</h3>
    <h4>Marriage & Family Therapist</h4>

    <div id="summary">Child Therapy ~ Marriage Counseling ~ Family Therapy ~
    Mindfulness Meditation Instruction</div>

</span>
  </div>
</header>
