<div class="container">
  <div class="row" id="header-header">
    <div class="nine columns" style="text-align: left">
      <p>Marianne B. Rowe, MS | Marriage & Family Therapist</p>
    </div>

    <div class="three columns" style="text-align: right">
      <p>(831) 373 - 1017</p>
    </div>
  </div>
</div>
<div class="header-image">

</div>

<header>

  <div class="container">
    <h3>Marianne B. Rowe, MS</h3>

  </div>
</header>
