<aside id="nav-unfixed">
  <ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">Services and Specialties</a></li>
  <li><a href="#">Fees, Forms, and Insurance</a></li>
  <li><a href="#">Calendar of Events</a></li>
  <li><a href="#">Mindfulness Courses</a></li>
  <li><a href="#">Mindful Education Project</a></li>
  <li><a href="#">Mindful Relating</a></li>
  <li><a href="#">Questions for Reflection</a></li>
  <li><a href="#">Location and Contact</a></li>
  </ul>
</aside>
