<aside>
  <div id="nav-unfixed">
    <%= render 'layouts/sidebar_nav' %>
  </div>

  <div id="nav-fixed">
    <%= render 'layouts/sidebar_nav' %>
  </div>
</aside>

<div id="nav-mobile">
  <center>m e n u</center>
</div>
