<aside>
  <div id="nav-unfixed">
    <%= render 'layouts/sidebar_nav' %>
  </div>

  <div id="nav-fixed">
    <%= render 'layouts/sidebar_nav' %>
  </div>
</aside>

<div id="nav-mobile">
  <div id="menu-button">M E N U</div>
  <div id="mobile-menu">neoTOKYO <br>neoTOKYO <br>neoTOKYO <br>neoTOKYO</div>
</div>
