<aside>
  <div id="nav-unfixed">
    <%= render 'layouts/sidebar_nav' %>
  </div>

  <div id="nav-fixed">
    <%= render 'layouts/sidebar_nav' %>
  </div>
</aside>

<div id="nav-mobile">
  <center>
    <div id="menu-button">
      <hr>
      <span id="menu-button-button">MENU</span>
      <div id="mobile-menu">
        <%= render 'layouts/sidebar_nav' %>
      </div>
      <hr>
    </div>
  </center>
</div>
